{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-success">
            <h4>Пароль успешно изменен!</h4>
            <p>Теперь вы можете войти в систему с новым паролем.</p>
        </div>
        <div class="alert alert-success">
            <p>Ваш пароль успешно изменён. Теперь вы можете войти с новым паролем.</p>
        </div>
        <p><a href="{% url 'blog:login' %}" class="btn btn-primary">Войти</a></p>
    </div>
</div>
{% endblock %}